.About{
  border: 5px solid #8B4513;
  padding:10px;
  background-color: #FFD700;
  font-size: 18px;
}
.About__item{
  width:75%
}

.About span {
  position: relative;
  vertical-align: middle;
  left: 150px;
  bottom: 28px;
  font-size: 17px;
  word-break: break-all;
}

@media (max-width: 768px) {
  .About{
    font-size: small;
  }
  .About__item{
    padding: 8px
  }

  .About__item span{
    position: inherit;
    word-break: break-all;
    
  } 
  .About__item p{
    font-size: 18px;
  }
}